.hero {
    position: relative;
    height: 100vh;
    background: url("../assets/images/background3.jpg") center/cover no-repeat;
    font-family: 'Anton', 'Bebas Neue', sans-serif;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.70);
}

/* NAVBAR */
.navbar {
    position: fixed;
    z-index: 1000;
    left: 2%;
    top: 15px;
    width: fit-content;
    padding: 11px 20px;
    border-radius: 999px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(8px);
}

.navbar ul {
    display: flex;
    gap: 32px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 2px;
    transition: all 0.3s ease;
    display: inline-block;
}

.navbar ul li a:hover {
    color: #f56200;
    transform: translateY(-2px) scale(1.05);
}

/* EMAIL*/

.top-email {
    position: relative;
    top: 90%;
    right: auto;
    bottom: 0;
    left: 2%;
    z-index: 5;

    padding: 12px 30px;
    border-radius: 999px;

    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.4rem;
    letter-spacing: 0.1em;
    color: white;
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 0.16);
    opacity: 0.85;
    transition: all 0.3s ease;
}

.top-email:hover {
    color: #f56200;
    transform: scale(1.03);
}


/* HERO TEXT */
.hero-content {
    position: relative;
    z-index: 2;
    top: 45%;
    transform: translateY(-50%);
    text-align: center;
}

.title {
    font-family: 'Archivo Black';
    font-size: 10rem;
    color: #ffffff;
    letter-spacing: 6px;
    font-weight: lighter;
}

.subtitle {
    margin-top: 12px;
    font-family: 'Audiowide';
    font-size: 1.5rem;
    letter-spacing: 1.8px;
    color: #dc2f02;
    line-height: 1.5;
}


/* LOCATION */
.location {
    position: absolute;
    bottom: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    letter-spacing: 2px;
    z-index: 2;
}

.location.right {
    right: 40px;
}

.dot {
    width: 10px;
    height: 10px;
    background: #00ff88;
    border-radius: 50%;
    box-shadow: 0 0 10px #00ff88;
}


/* navbar */
@media (max-width: 768px) {
    .hero {
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 80px;
        padding-bottom: 40px;
    }

    .navbar {
        position: fixed;
        left: 2%;
        transform: none;
        width: 96%;
    }

    .navbar ul {
        gap: 12px;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .navbar ul li a {
        font-size: 13px;
        padding: 2px 4px;
    }

    .hero-content {
        position: relative;
        top: 0;
        transform: none;
        text-align: left;
        padding: 40px 5%;
        order: 1;
    }

    .title {
        font-size: 4.2rem;
        margin-bottom: 10px;
    }

    .subtitle {
        font-size: 0.8rem;
        margin-bottom: 20px;
    }

    .top-email {
        position: relative;
        display: inline-block;
        order: 2;
        margin: 0 0 20px 3%;
        top: auto;
        left: 0;
        padding: 4px 14px;
        font-size: 0.8rem;
        width: fit-content;
    }

    .location.right {
        position: relative;
        order: 3;
        left: 5%;
        right: auto;
        bottom: auto;
        margin-top: 20px;
        font-size: 10px;
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 3.5rem;
    }

    .navbar ul {
        gap: 6px;
    }

    .navbar ul li a {
        font-size: 8px;
    }
}