* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
}

#experience-section,
#about-section,
#projects,
#skills,
#contact-section {
    scroll-margin-top: 100px;
}

body {
    background: #000;
    color: #fff;
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
}