* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    color: #fff;
    overflow: hidden;
}

.hidden {
    display: none;
}

@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
}