/* #skills {
    padding: 6rem 5rem;
    background: #000;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.category-block {
    padding: 0 3rem;
    display: grid;
    grid-template-columns: 260px 1fr;
    align-items: center;
    gap: 3rem;
}

.skill-title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.28rem;
    letter-spacing: 0.1em;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 1.2;
}

.skills-strip {
    overflow: hidden;
    position: relative;
}

.skills-track {
    display: flex;
    gap: 1.2rem;
    width: max-content;
    animation: scrollSkills 22s linear infinite;
}

.skills-strip:hover .skills-track {
    animation-play-state: paused;
}

@keyframes scrollSkills {
    from {
        transform: translatX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.skill {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.4rem;
    letter-spacing: 0.18em;

    padding: 0.85rem 1.6rem;
    border-radius: 999px;

    color: #ffffff;
    white-space: nowrap;

    background: rgba(255, 196, 0, 0.06);
    border: 1px solid rgba(255, 196, 0, 0.45);

    box-shadow:
        0 0 18px rgba(255, 196, 0, 0.15),
        inset 0 0 0 rgba(255, 255, 255, 0);

    transition: all 0.3s ease;
}

.skill:hover {
    background: rgba(255, 196, 0, 0.14);
    box-shadow:
        0 0 25px rgba(255, 196, 0, 0.35);
    transform: translateY(-2px);
}

@media (max-width: 768px) {
    #skills {
        padding: 4rem 1.5rem;
        gap: 3rem;
    }

    .category-block {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }

    .skill-title {
        font-size: 1.8rem;
    }

    .skill {
        font-size: 1.2rem;
        padding: 0.7rem 1.3rem;
    }
} */
#skills {
    padding: 90px 80px;
    background: #000;
    display: flex;
    flex-direction: column;
}

.category-block {
    padding: 0 1rem;
    display: grid;
    grid-template-columns: 18vw 1fr;
}

.skill-title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.5rem;
    letter-spacing: 0.1em;
    padding: 1rem 2rem;
    padding-top: 3rem;
}

.skills-strip {
    overflow: hidden;
    padding: 2rem 0;
}

.skills-track {
    display: flex;
    gap: 1rem;
    width: max-content;
    animation: scrollSkills 30s linear infinite;
}

.skills-strip:hover .skills-track {
    animation-play-state: paused;
}

@keyframes scrollSkills {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.skill {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.5rem;
    letter-spacing: 0.1em;
    border: 1px solid rgba(255, 196, 0, 0.5);
    padding: 1rem 2rem;
    background-color: rgba(255, 196, 0, 0.05);
    border-radius: 15px;
}